<div *ngIf="heroDetailForm">
  <h2>{{heroDetailForm.get( 'name' ).value}} details!</h2>
  <div><label>id: </label>{{heroDetailForm.get( 'id' ).value}}</div>
  <form [formGroup]="heroDetailForm" novalidate>
    <div>
      <label>name: </label>
      <input formControlName="name" placeholder="name"/>
    </div>
    <div>
      <label>ability type: </label>
      <select formControlName="abilityType">
        <option *ngFor="let type of abilityTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
  </form>
</div>
