<div *ngIf="heroDetailForm">
  <h2>{{heroDetailForm.get( 'name' ).value}} details!</h2>
  <div><label>id: </label>{{heroDetailForm.get( 'id' ).value}}</div>
  <form [formGroup]="heroDetailForm" novalidate>
    <div>
      <label>name: </label>
      <input formControlName="name" placeholder="name"/>
    </div>

    <div formArrayName="abilities">
      <div>
        <label>Hero's abilities:</label>
        <button (click)="addAbility()">New</button>
      </div>
      <div *ngFor="let ability of abilitiesFormArray.controls; let counter=index" [formGroupName]="counter">
        <div>
          <label>ability type: </label>
          <select formControlName="type">
            <option *ngFor="let type of abilityTypes" [value]="type">{{type}}</option>
          </select>
        </div>
        <div>
          <label>ability: </label>
          <input formControlName="ability" placeholder="ability"/>
        </div>
        <button (click)="removeAbility( counter )">Remove</button>
      </div>
    </div>
    <button (click)="save()" [disabled]="heroDetailForm.pristine">Save</button>
    <button (click)="revert()" [disabled]="heroDetailForm.pristine">Revert</button>
    <button (click)="goBack()">Back</button>
  </form>
</div>
